html{
    background-color: aliceblue;
}

header,footer{
  background-color: lightskyblue;
}

header,nav{
    text-align: center;
}

header span{
    color: white;
}
        
h1,h2,a,footer{
    font-family: Andale Mono, monospace;
}

li.active{
    background-color:lightgray;
}

ul p{
    font-family: sans-serif;
    font-style: oblique
}

main{
    display: flex;
    flex-wrap: wrap;
}

main>ul{
    flex-basis: 60%;
    flex-grow: 1;
}

main>ul>li>h2{
    text-align:left
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}


nav{
    flex-basis: 100%;
}

nav li{
    flex-basis: 30%;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

aside{
    flex-basis:25%;
}

aside li{
    width: 50%;
    height: 1.5rem;
}

aside img{
    width: auto;
    height: 6rem;
}

img[alt="perso2"]{
    float: right;
    width: 15rem;
    height: auto;
    border-radius: 30px; 
}

img[alt="perso1"]{
    float: left;
    width: 15rem;
    height: auto;
    border-radius: 30px;
}

header,footer,aside,nav ul li,aside li{
    border:solid thin;
}

nav,aside,main p,h2{
    margin: 2rem;
}

img{
    margin: 0.6rem;
}

footer{
    width: 100%;
    text-align: center;
}